h1{
    margin-bottom: 0px;
}
hr{
    margin-top: 0px;
    margin-bottom: 1px;
}
#paragraph1{
    margin-top: 0px;
}
.paragraph2{
    text-indent: 50px;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: blue;
}
