th,td{
  text-align: center;
}
.but{
  padding: 0;
  width: 10.66%;
}
.input_search{
  width: 31%;
}
img {
  width: 100px;
  height: 100px;
}
td{
  vertical-align: middle;
}
.listPage{
  padding:10px;
  text-align: center;
  list-style: none;
}
.listPage li{
  background-color: rgba(122, 109, 109, 0.74);
  padding:20px;
  display: inline-block;
  margin:0 10px;
  cursor: pointer;
}
.listPage .active{
  background-color: #B192EF;
  color:#fff;
}
