<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Categories List</h1>
    <a th:href="@{/category/create}">Create category</a>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Category No</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="category,No: ${categories}" th:object="${category}">
            <td th:text="${No.count}"></td>
            <td th:text="*{name}"></td>
            <td><a th:href="@{|/category/save/*{id}|}" class="btn btn-warning">Update</a></td>
            <td><a th:href="@{|/category/delete/*{id}|}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <br>
    <a class="btn btn-primary" th:href="@{/song}">Back</a>
</div>
</body>
</html>