<div class="container">
  <h1>Category List</h1>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateCategory">Create Category</button>
  <br>
  <br>
  <a class="btn btn-primary">Back</a>
  <br><br>
  <div id="category_list">
    <div class="container">
      <table class="table table-striped">
        <thead>
        <th>Category No</th>
        <th>Category Name</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr *ngFor="let c of categories, index as i">
          <td>{{i + 1}}</td>
          <td>{{c.name}}</td>
          <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalUpdateCategory" (click)="getCategory(c.id)">Update</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCategory(c.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Create-->
<div class="modal fade" id="modalCreateCategory" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Create Category</h5>
        <button type="button" id="btnCreate" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="form-label">Category name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal update-->
<div class="modal fade" id="modalUpdateCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form [formGroup]="categoryFormUpdate" (ngSubmit)="updateCategory()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
        <button id="btnUpdateCategory" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="name_update" class="form-label">Category name</label>
            <input type="text" class="form-control" formControlName="name" id="name_update">
            <input type="text" class="form-control" formControlName="id" hidden>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Submit</button>
      </div>
        </form>
    </div>
  </div>
</div>
